<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title> Angular 1 Learning </title>
  </head>
  <body>
    <div ng-controller="HelloWorldCtrl">{{message}}</div>
  </body>
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  </html>
















